<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	    http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--static factory-->
<!--    <bean name="user3" factory-bean="userFactory" factory-method="createUserInstance"/>-->
<!--    <bean name="userFactory" class="com.sincere.createobjects.UserFactory"/>-->
    <bean name = "user" class = "com.sincere.model.User"/>

</beans>